@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #FCF6EF;
}
body{
    background-color: #FCF6EF;
}
.linear-background {
  background: linear-gradient(180deg, rgba(144, 144, 144, 0.20) 0%, rgba(252, 246, 239, 0.20) 100%, rgba(252, 246, 239, 0.20) 100%);
}
.linear-services {
  background: #F8FAD2 linear-gradient(180deg, rgba(144, 144, 144, 0.20) 0%, rgba(252, 246, 239, 0.20) 100%) !important;
}
.linear-values {
  background: #FCDED7 linear-gradient(180deg, rgba(144, 144, 144, 0.20) 0%, rgba(252, 246, 239, 0.20) 100%) !important;
}
.image-container {
  position: relative;
  overflow: hidden;
}

.line {
  position: absolute;
  width: 184px;
  height: 3rem;
  border-bottom: 2px solid #000;
  transform-origin: left;
  transition: transform 0.3s ease; 
}

.line:hover {
  transform: translateX(0) scaleX(1);
}

.line:hover::after {
  position: absolute;
  content: "";
  left: 100%;
  width: 184px;
  height: 3rem;
  border-bottom: 2px solid #FFF;
  transform-origin: right; 
  transition: transform  ease-in-out; 
  animation: reappearFromRight 0.8s ease forwards; 
}
/* #scrolling-text {
  white-space: nowrap;
  overflow: hidden;
  animation: scroll-right 3s linear;
}

@keyframes scroll-right {
  0% { transform: translateX(60%); }
  100% { transform: translateX(-20%); }
} */

@keyframes scroll-right {
  0% { transform: translateX(100%); }
  50% { transform: translateX(0%); } 
}
.hidden {
  display: none;
}
#scrolling-text {
  white-space: nowrap;
  overflow: hidden;
}

#scrolling-text.scrolling {
  animation: scroll-right 5s linear;
}

@keyframes reappearFromRight {
  0% {
    transform:  translateX(0) scaleX(0); 
  }
  100% {
    transform:  translateX(0) scaleX(1);
  }
}


.hidden-image {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}

.hover-shape:hover + .hidden-image {
  opacity: 1;
}

.hover-shape {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  opacity: 0;
  transition: opacity 0.3s ease;
}



@layer base {
/*   
  @font-face {
    font-family: 'Clash';
    src: url('./fonts/ClashDisplay-Regular.otf') format('truetype');
  }

  @font-face {
    font-family: 'Clash-Bold';
    src: url('./fonts/ClashDisplay-Bold.otf') format('truetype');
  }
  @font-face {
    font-family: 'Clash-Medium';
    src: url('./fonts/ClashDisplay-Medium.otf') format('truetype');
  }
  @font-face {
    font-family: 'Clash-Extra';
    src: url('./fonts/ClashDisplay-Extralight.otf') format('truetype');
  }
  @font-face {
    font-family: 'Clash-Semibold';
    src: url('./public/fonts/ClashDisplay-Semibold.otf') format('truetype');
  }
  @font-face {
    font-family: 'Clash-Light';
    src: url('./public/fonts/ClashDisplay-Light.otf') format('truetype');
  }
  @font-face {
    font-family: 'kate';
    src: url('./public/fonts/Kate-Display.otf') format('truetype');
  }
  @font-face {
    font-family: 'kate-medium';
    src: url('./public/fonts/Kate-Medium.otf') format('truetype');
  }
  @font-face {
    font-family: 'kate-black';
    src: url('./public/fonts/Kate-Black.otf') format('truetype');
  }
  @font-face {
    font-family: 'neue-medium';
    src: url('./public/fonts/NeueHelveticaBQMedium.otf') format('truetype');
  }
  @font-face {
    font-family: 'neue-regular';
    src: url('./public/fonts/NeueHelveticaBQRegular.otf') format('truetype');
  }
  @font-face {
    font-family: 'neue-semi';
    src: url('./public/fonts/NeueHelveticaBQHeavy.otf') format('truetype');
  }
  @font-face {
    font-family: 'neue-bold';
    src: url('./public/fonts/NeueHelveticaCondensedBQBold.otf') format('truetype');
  }
  @font-face {
    font-family: 'neue-extra';
    src: url('./public/fonts/NeueHelveticaBQBlack.otf') format('truetype');
  }
  @font-face {
    font-family: 'neue-condensed';
    src: url('./public/fonts/HelveticaNeueMediumCondensed.otf') format('truetype');
  } */
}

.bg_slider {
  --initialBgColor: #F8FAD2;
  --slideBgColor: #FCDED7;
  background-image: linear-gradient(90deg,
      var(--initialBgColor) 0%,
      var(--initialBgColor) 50%,
      var(--slideBgColor) 50%,
      var(--slideBgColor) 100%);
  background-size: 400%;
  transition: background-position 1.2s cubic-bezier(.47, .1, 1, .63);
  transition-delay: 0.0s;
}

.bg_slider.hovered {
  background-color: var(--slideBgColor);
  cursor: pointer;
  background-position: 100% -50%;
}

.move-left-to-right {
  animation-name: moveLeftToRight;
  animation-duration: .8s;
  animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  animation-delay: 2s;
  animation-fill-mode: forwards; 
  text-align: left;
  margin-left: 0;
  width: auto;
  opacity: 1;
  color: #FF0101;
}

@keyframes moveLeftToRight {
  0% {
    transform: translateX(0);
    text-align: left;
    color: #FF0101; 
    opacity: 1;
  }
  45% {
    color: #FF0101; 
    opacity: 0.6;
  }
  55% {
    color: #0071F3; 
    opacity: 0.6;
  }
  100% {
    transform: translateX(100%);
    text-align: right;
    color: #0071F3; 
    opacity: 1;
  }
}